.modal_wrap {
    border: 10px soild rgb(255, 38, 38);
    display: none;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background: rgb(249, 244, 244);

    z-index: 2;
}

.modal_close {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close>a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

/* 전체 margin */
#total_padding{
    margin-left: 95px;
    margin-top:115px;
   

}

/* 메뉴 */
#stuff_send_menu{
    border-bottom:1px solid rgb(49, 46, 49);
    display: flex;
    flex-direction: row;
    justify-content: center;
    


}
.middle_font{
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    color: black;
}
.thin_font{
    /* font-weight: ; */
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    color: black;
}
.menu{
    margin:10px;
}

#menu_line{
    width:40%;

}

#box{
    border: 1px;
}


/* 박스 */
#write_box{
    margin:5%;
    /* padding:2%; */
    /* border: 1px solid rgb(68, 66, 66); */
    /* border-radius: 15px; */
}

#people_content{
    display:flex;
   
}

#start, #end{
    flex:1 1 auto;
    padding:1%;
    width:100%;
    border:1px solid black;
    border-radius: 15px;
}
/* #end{
    flex:1;
} */
/* 신청지 도착지 */
.address_layout{
    display:flex;
    
}
.address{
margin:2px;
height: 30px;
}
.address_input{
    width:100%;
}

.address_btn{
    height: 35px;
}

.detail_address{
    width:97%;
    height: 30px;
    margin:2px;
}
.person_info_input{
    display:flex;
    width:100%;
    
}
.phone, .name{
    flex:1;
    height: 30px;
    margin:2px;
}

/*  */
#write_result_box{
    border:1px solid black;
    border-radius: 15px;
    padding: 3%;

}
.input{
    width:50%;
    height: 30px;
    margin:2px;
    
}
.write{
    width:50px;
}
/* 폰트관련 */
.middle_font{

}


