{% extends 'base.html' %}
{%block title %}
<title>Index.html</title>
{% endblock title%}

{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h1>index.html</h1>
<a href="{% url 'deliver' %}" style="text-decoration: none;">deliver 화면</a>
<a href="{% url 'request_my' %}" style="text-decoration: none;">request 화면</a>
<a href="{% url 'request_market' %}" style="text-decoration: none;">request_market 화면</a>
<a href="{% url 'request_market2' %}" style="text-decoration: none;">request_market2 화면</a>



{%for s in specific_store.store_goods%}
{{s.goods_name}}
{%endfor%}
{% endblock content %}