{% extends 'base.html' %}
{%block title %}
<title>Index.html</title>
{% endblock title%}

{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h1>index.html</h1>
<a href="{% url 'deliver' %}" style="text-decoration: none;">deliver 화면</a>
<a href="{% url 'request' %}" style="text-decoration: none;">request 화면</a>
<a href="{% url 'request2' %}" style="text-decoration: none;">request2 화면</a>
<a href="{% url 'request_candidate' %}" style="text-decoration: none;">request_candidate 화면</a>
{% endblock content %}