<p>구매내역</p>


<form action="{%url 'request_market_complete'%}" method="POST">
    {%csrf_token%}
    {%for order in order_lst%}
    {%for o in order%}
    <p>{{o}}</p>
    {%endfor%}
    {%endfor%}



    <input name="purchase_total" id="purchase_total" value="{{order_lst}}" display="hidden">
    <input type="submit" value="제출">
</form>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f92e2590928afb34663522ac2201a7be&libraries=services,drawing"></script>



<script>

</script>