<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .modal_wrap {
            display: none;
            width: 400px;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -250px 0 0 -250px;
            background: #eee;
            z-index: 2;
        }

        .black_bg {
            display: none;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 1;
        }

        .modal_close {
            width: 26px;
            height: 26px;
            position: absolute;
            top: -30px;
            right: 0;
        }

        .modal_close>a {
            display: block;
            width: 100%;
            height: 100%;
            background: url(https://img.icons8.com/metro/26/000000/close-window.png);
            text-indent: -9999px;
        }
    </style>
</head>
<body>
    <span>내 물건 배송</span>
    <!-- <span>마켓 물건 배송</span> -->
    <br>
    <div>
        <p>신청인</p>
        신청인 주소: <input type="text" id="deparature" placeholder="주소">
        <input type="button" onclick="my_deparature_Map(this.id)" value="주소 검색"id="map_deparature"><br>
        신청인 상세주소 : <input type="text">
        <br>

        신청인 번호 : <input type="text">
    </div>

    <div>
        <p>도착지</p>
        도착지 주소: <input type="text" id="destination" placeholder="주소">
        <input type="button" onclick="my_destination_Map(this.id)" value="주소 검색"id="map_destination"><br>
        도착지 상세주소 : <input type="text">
        <br>
        수취인 번호 : <input type="text">
    </div>
    <div id="map" style="width:300px;height:300px;margin-top:10px;"></div>
    <br>
    물건 카테고리
    <input type="button" onclick="goods_category()" value="카테고리">
    <div class="modal_wrap">
        <div class="modal_close"><a href="#">close</a></div>
        <div>
            모달창 내용
        </div>
    </div>
    <input type="text" name="goods">
    <br>
    물건 상세정보
    <input type="text" name="goods_detail">
    <br>
    제한시간

    <select name="time">
        <option value="">시간 선택</option>
        <option value="1">1시간 이내</option>
        <option value="2">2시간 이내</option>
        <option value="3">3시간이내</option>
    </select>
    <br>
    거리<input type="text" name="distance">
    <br>
    가격<input type="text" name="price">
    전달사항<input type="text" name="comment">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f92e2590928afb34663522ac2201a7be&libraries=services"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>



        function goods_category() {
            document.querySelector('.modal_wrap').style.display = 'block';
            document.querySelector('.black_bg').style.display = 'block';

        }

        ///////////////////////////
        //주소 + 지도 켤 준비
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };
        

         //지도를 미리 생성  
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        

        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(),
            map: map
        });

        var coords = new Array();
        function my_deparature_Map(id) {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = data.address; // 최종 주소 변수

                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("deparature").value = addr;           

                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function(results, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) { 
                            
                            var result = results[0]; //첫번째 결과의 값을 활용
                        
                            coords['map_deparature'] = new daum.maps.LatLng(result.y, result.x); 
                        
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            
                            //지도 중심 변경
                            if(coords['map_deparature']!=null & coords['map_destination']!=null){
                                console.log("둥 다")
                                var map_Lat=(coords['map_deparature'].getLat()+coords['map_destination'].getLat())/2; 
                                var map_Lng=(coords['map_deparature'].getLng()+coords['map_destination'].getLng())/2;
                                var setmarker = new daum.maps.LatLng(map_Lat, map_Lng); 
                                map.setCenter(setmarker);
                                
                            }
                            else{
                                map.setCenter(coords['map_deparature']);
                            
                            }

                            if(coords!=null){
                                marker.setMap(null);   
                            }
                            for (var i in coords){        
                                marker = new kakao.maps.Marker({
                                    map: map, // 마커를 표시할 지도
                                    position: coords[i], // 마커를 표시할 위치
                                    
                                });        
                                
                            }

                        }
                    });
                    window.close();
                }
            }).open();
        }


        function my_destination_Map(id) {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = data.address; // 최종 주소 변수

                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("destination").value = addr;           

                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function(results, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) { 
                            
                            var result = results[0]; //첫번째 결과의 값을 활용
                        
                            coords['map_destination'] = new daum.maps.LatLng(result.y, result.x); 
                        
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            
                            if(coords['map_deparature']!=null & coords['map_destination']!=null){
                                console.log("둥 다")
                                var map_Lat=(coords['map_deparature'].getLat()+coords['map_destination'].getLat())/2; 
                                var map_Lng=(coords['map_deparature'].getLng()+coords['map_destination'].getLng())/2;
                                var setmarker = new daum.maps.LatLng(map_Lat, map_Lng); 
                                // 지도 중심을 변경한다.
                                map.setCenter(setmarker);
                                
                            }
                            else{
                                map.setCenter(coords['map_destination']);
                            
                            }

                          //  marker.setPosition(coords['map_destination'])
                            if(coords!=null){
                                marker.setMap(null);   
                            }
                            for (var i in coords){        
                                marker = new kakao.maps.Marker({
                                    map: map, // 마커를 표시할 지도
                                    position: coords[i], // 마커를 표시할 위치
                                    
                                });        
                                
                            }

                        }
                    });
                    window.close();
                }
            }).open();
        }
    </script>




</body>

</html>