{% extends 'base.html' %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/request_market_purchase.css' %}">
{% endblock css %}

{% block content %}
<div id="total_layout">
    <div id="stuff_send_menu">
        <a class="menu thin_font" href="{%url 'request_my' %}">택배 보내기</a>
        <a class="menu middle_font" href="{%url 'request_market2' %}">마켓 픽업 배송</a>
    </div>
    <!-- <p class="middle_font">구매내역</p> -->


    <form action="{%url 'request_market_complete' %}" method="POST">
        {%csrf_token%}
        {%for order in order_lst%}
        {%for o in order%}
        <p class="purchase_thing">{{o}}</p>
        {%endfor%}
        {%endfor%}

        상품무게<input type="text" name="total_weight" value="{{total_weigth}}">

        총 결제가격
        총 상품 금액<input type="text" name="total_price" value="{{total_price}}">


        <div>
            <p>도착지</p>
            <span>
                <input type="text" name="destination" id="destination" placeholder="주소" readonly>
                <input type="hidden" name="destination_lat" id="destination_lat" value="">
                <input type="hidden" name="destination_long" id="destination_long" value="">
                <input type="button" onclick="market_destination_Map()" value="주소 검색" id="map_destination">
            </span>
            <br>
            <input type="text" name="destination_detail" placeholder="상세주소">
            <br>
            <input type="text" name="destination_phone" placeholder="수취인 전화번호">
        </div>
        <div id="map" style="width:300px;height:300px;margin-top:10px;"></div>



        원하는 배송시간
        <select id="want_time" name="want_time">
            <option value="">시간 선택</option>
            <option value="1">00~01</option>
            <option value="2">01~02</option>
            <option value="3">02~03</option>
            <option value="4">03~04</option>
            <option value="5">04~05</option>
            <option value="6">05~06</option>
            <option value="7">06~07</option>
            <option value="8">07~08</option>
            <option value="9">08~09</option>
            <option value="10">09~10</option>
            <option value="11">10~11</option>
            <option value="12">11~12</option>
            <option value="13">12~13</option>
            <option value="14">13~14</option>
            <option value="15">14~15</option>
            <option value="16">15~16</option>
            <option value="17">16~17</option>
            <option value="18">17~18</option>
            <option value="19">18~19</option>
            <option value="20">19~20</option>
            <option value="21">20~21</option>
            <option value="22">21~22</option>
            <option value="23">22~23</option>
            <option value="24">23~24</option>
        </select>

        전달사항
        <input type="text" name="content">

        <button type="button" onclick="a()">a</button>
        <input name="purchase_total" id="purchase_total" value="{{order_total}}" display="hidden">
        <input type="submit" value="제출">
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f92e2590928afb34663522ac2201a7be&libraries=services,drawing"></script>



<script>
    var b = []
    function a() {
        b = $(".purchase_thing").val
        console.log(b)
    }

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 8// 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });
    var circle = new kakao.maps.Circle({});

    function market_destination_Map() {
        new daum.Postcode({

            oncomplete: function (data) {
                var addr = data.address; // 최종 주소 변수
                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("destination").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function (results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        console.log(coords.getLat())
                        document.getElementById("destination_lat").value = coords.getLat();

                        document.getElementById("destination_long").value = coords.getLng();

                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords);
                    }
                });
            }
        }).open();
    }

</script>
{% endblock content %}