{% extends 'base.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/request_my.css' %}">
{% endblock css %}

<body>
    {% block content %}
    <p>dd</p>
    <div id="total_padding">

        <div id="stuff_send_menu">
            <a class="menu middle_font menu_bold" href="{%url 'request_my' %}">택배 보내기</a>
            <a class="menu thin_font menu_thin" href="{%url 'request_market2' %}">마켓 픽업 배송</a>
        </div>

        <!-- <hr id="menu_line"> -->

        <div id="box">
            <form action="{% url 'request_my' %}" method="POST">
                {%csrf_token%}
                <div id="write_box">
                    <div id="people_content">
                        <div id="start">
                            <p class="middle_font">출발지</p>
                            <span>
                                <div class="address_layout">
                                    <input type="text" class="address address_input" name="deparature" id="deparature"
                                        placeholder="주소" readonly>
                                    <input type="button" class="address address_btn" onclick="my_Stuff_Map(this.id)"
                                        value="주소 검색" id="map_deparature">
                                </div>
                                <input type="hidden" name="deparature_lat" id="deparature_lat" value="">
                                <input type="hidden" name="deparature_long" id="deparature_long" value="">
                            </span>

                            <input type="text" class="detail_address" name="deparature_detail" id="deparature_detail"
                                placeholder="상세주소" required>
                            <br>
                            <div class="person_info_input">
                                <input type="text" class="name" name="deparature_name" placeholder="신청인 이름" required>
                                <input type="text" class="phone" name="deparature_phone" placeholder="신청인 전화번호"
                                    required>
                            </div>
                        </div>
                        <div id="end">

                            <p class="middle_font">도착지</p>
                            <span>
                                <div class="address_layout">
                                    <input type="text" class="address address_input" name="destination" id="destination"
                                        placeholder="주소" readonly required>
                                    <input type="button" class="address address_btn" onclick="my_Stuff_Map(this.id)"
                                        value="주소 검색" id="map_destination">

                                </div>
                                <input type="hidden" name="destination_lat" id="destination_lat" value="">
                                <input type="hidden" name="destination_long" id="destination_long" value="">

                            </span>

                            <input type="text" class="detail_address" name="destination_detail" placeholder="상세주소"
                                required>
                            <br>
                            <div class="person_info_input">
                                <input type="text" class="name" name="destination_name" placeholder="신청인 이름" required>
                                <input type="text" name="destination_phone" placeholder="수취인 전화번호" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="write_result_box" class="two_column_layout">
                        <div class="one_column_layout">
                            <div id="map" style="width:100%;height:300px;margin-top:10px;"></div>
                            <br>
                            <div class="row_layout">
                                <div class="write middle2_font">거리</div>
                                <input type="text" class="input" name="distance" id="distance" readonly>
                            </div>
                            <div id="distance_message" style="color: rgb(168, 108, 225);padding:3px;"></div>
                        </div>
                        <div class="one_column_layout">
                            <p class="middle2_font" id="stuff_category"> 물건 분류</p>
                            <!-- <input type="button" class="input" onclick="goods_category()" value="카테고리">
                        <div class="modal_wrap">
                            <div class="modal_close" onclick="close_goods_category()"><a href="#">close</a></div> -->
                            <div id="goods_radio">
                                <div class="goods_select">
                                    <input type="radio" name="goods" class="goods" value="문서"
                                        onclick="goods_radios(this)" />
                                    문서
                                </div>
                                <div class="goods_select">
                                    <input type="radio" name="goods" class="goods" value="유리류"
                                        onclick="goods_radios(this)" /> 유리류
                                </div>
                                <div class="goods_select">
                                    <input type="radio" name="goods" class="goods" value="식품(약)"
                                        onclick="goods_radios(this)" /> 식품(약)
                                </div>
                                <div class="goods_select">
                                    <input type="radio" name="goods" class="goods" value="소박스"
                                        onclick="goods_radios(this)" /> 소박스
                                </div>
                                <div class="goods_select">
                                    <input type="radio" name="goods" class="goods" value="대박스"
                                        onclick="goods_radios(this)" /> 대박스
                                </div>
                            </div>
                            <div id="radio_message" style="color: rgb(168, 108, 225);padding:3px;"></div>
                            <!-- <div onclick="goods_confirm()"><a href="#">확인</a></div> -->
                            <!-- <input type="button" onclick="goods_confirm()" value="확인"> -->

                            <!-- </div> -->
                            <input type="text" class="input" name="goods_category_one" id="goods_category_one" value=""
                                style="display:none">
                            <br>
                            <p class="middle2_font">물품 상세정보</p>
                            <input type="text" class="input" name="goods_detail" placeholder="물건 상세정보" required>
                            <p class="middle2_font">
                                원하는 배송 날짜</p>
                            <!-- <input type="text" id="datepicker" class="input" name="want_date"> -->
                            <input type="date" class="input" name="want_date" id="datepicker" onclick="datepicker()"
                                required>
                            <br>
                            <p class="middle2_font">원하는 배송 시간</p>
                            <select id="want_time" class="input" name="want_time" required>
                                <option value="">시간 선택</option>
                                <option value="1">00~01</option>
                                <option value="2">01~02</option>
                                <option value="3">02~03</option>
                                <option value="4">03~04</option>
                                <option value="5">04~05</option>
                                <option value="6">05~06</option>
                                <option value="7">06~07</option>
                                <option value="8">07~08</option>
                                <option value="9">08~09</option>
                                <option value="10">09~10</option>
                                <option value="11">10~11</option>
                                <option value="12">11~12</option>
                                <option value="13">12~13</option>
                                <option value="14">13~14</option>
                                <option value="15">14~15</option>
                                <option value="16">15~16</option>
                                <option value="17">16~17</option>
                                <option value="18">17~18</option>
                                <option value="19">18~19</option>
                                <option value="20">19~20</option>
                                <option value="21">20~21</option>
                                <option value="22">21~22</option>
                                <option value="23">22~23</option>
                                <option value="24">23~24</option>
                            </select>
                            <br>


                            <p class="middle2_font">무게</p>
                            <select name="weight" class="input" id="weight" onclick="price_function()" required>
                                <option value="">무게 선택</option>
                                <option value="1">10kg 이내</option>
                                <option value="2">10~20kg 이내</option>
                                <option value="3">20~30kg 이내</option>
                                <option value="4">30~40kg 이내</option>
                            </select>
                            <br>
                            <p class="middle2_font">가격</p><input type="text" class="input" name="price" id="price_sum"
                                value="" required>
                            <br>
                            <p class="middle2_font">전달사항</p><input type="text" class="input" name="comment" required>
                        </div>

                    </div>
                </div>
                {% if user.is_authenticated %}
                <div style="display:flex;justify-content: center;">
                    <!-- <button type="button" class="submit_btn" value="확인" onclick="error_check()"></button> -->
                    <input type="submit" class="submit_btn" value="확인" onclick="error_check()">
                </div>
                {%else%}
                <div style="text-align:center;">*로그인을 하시면 신청버튼이 나타납니다.*</div>

                {%endif%}
            </form>
        </div>
        <!-- {%block script_key%}

        {%endblock script_key%} -->
        <script>

            function datepicker() {
                // $("#datepicker").datepicker({ minDate: 0 });
                document.getElementById("datepicker").min = new Date();
            }
            function error_check() {
                var num_pattern = /[0-9]/; // 숫자 
                var deparature_phone = document.getElementsByName('deparature_phone')[0].value;
                var destination_phone = document.getElementsByName('destination_phone')[0].value;

                var goods_category_one = document.getElementById('goods_category_one').value
                var distance = document.getElementById('distance').value
                if (!num_pattern.test(deparature_phone) || !num_pattern.test(destination_phone)) {
                    document.getElementById('radio_message').innerHTML = "번호는 숫자만 입력가능합니다."
                }
                if (goods_category_one == "") {
                    var radio_location = document.getElementById('stuff_category').offsetTop;
                    document.getElementById('radio_message').innerHTML = "* 카테고리를 선택해주세요."
                    window.scrollTo({ top: radio_location, behavior: 'smooth' });
                    return false;


                }
                if (distance == "") {
                    var distance_location = document.getElementById('distance').offsetTop;
                    document.getElementById('distance_message').innerHTML = "*출발, 도착지를 설정해주세요."
                    window.scrollTo({ top: distance_location, behavior: 'smooth' });
                    return false;
                }
            }

            function goods_radios(it) {
                document.getElementById('radio_message').innerHTML = ""
                document.getElementById('goods_category_one').value = it.value
                console.log(document.getElementById('goods_category_one').value)

            }

            function goods_confirm() { //상품 확인
                // goods_pick = $('.goods').val(); // 
                goods_radio = document.getElementById('goods_radio');
                goods_radio = goods_radio.children
                console.log(goods_radio)
                for (var n in goods_radio) {
                    goods_pick = document.getElementsByClassName('goods')[n]
                    console.log("in")
                    console.log(document.getElementsByClassName('goods')[n].value)
                    console.log(goods_pick)
                    if (goods_pick.checked == true) {
                        document.getElementById('goods_category_one').value = goods_pick.value;
                        break
                    }

                }
                //$('.goods_one').val(goods_pick);
                document.querySelector('.modal_wrap').style.display = 'none';
                document.querySelector('.modal_close').style.display = 'none';

            }

            function goods_category() {
                document.querySelector('.modal_wrap').style.display = 'block';
                document.querySelector('.modal_close').style.display = 'block';

            }

            function close_goods_category() {
                document.querySelector('.modal_wrap').style.display = 'none';
                document.querySelector('.modal_close').style.display = 'none';
            }

            ///////////////////////////
            //주소 + 지도 켤 준비
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                    level: 5 // 지도의 확대 레벨
                };


            //지도를 미리 생성  
            var map = new daum.maps.Map(mapContainer, mapOption);
            //주소-좌표 변환 객체를 생성
            var geocoder = new daum.maps.services.Geocoder();

            var position = new Array();
            var coords = new Array();
            var content = {};

            var marker = new daum.maps.Marker({

            });
            var infowindow = new kakao.maps.InfoWindow({

            }); //인포
            var polyline = new kakao.maps.Polyline({

            });
            var Line //거리 선
            function my_Stuff_Map(id) {
                new daum.Postcode({
                    oncomplete: function (data) {
                        var addr = data.address; // 최종 주소 변수

                        if (id == "map_deparature") {
                            // 주소 정보를 해당 필드에 넣는다.
                            document.getElementById("deparature").value = addr;
                        }
                        if (id == "map_destination") {
                            // 주소 정보를 해당 필드에 넣는다.
                            document.getElementById("destination").value = addr;
                        }


                        // 주소로 상세 정보를 검색
                        geocoder.addressSearch(data.address, function (results, status) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {
                                //지도 다 지우기
                                polyline.setMap(null);
                                infowindow.setMap(null);
                                marker.setMap(null);


                                var result = results[0]; //첫번째 결과의 값을 활용

                                // 지도를 보여준다. 
                                mapContainer.style.display = "block";
                                map.relayout();

                                if (id == "map_deparature") {
                                    // 해당 주소에 대한 좌표를 받아서
                                    coords['map_deparature'] = new daum.maps.LatLng(result.y, result.x);
                                    // map.setCenter(coords['map_deparature']);

                                    var depart_lat = coords['map_deparature'].getLat();
                                    depart_lat = Math.round(depart_lat * 1000000) / 1000000

                                    document.getElementById("deparature_lat").value = depart_lat

                                    var depart_lng = coords['map_deparature'].getLng();
                                    depart_lng = Math.round(depart_lng * 1000000) / 1000000

                                    document.getElementById("deparature_long").value = depart_lng

                                    // document.getElementById("deparature_long").value = coords['map_deparature'].getLng();


                                }
                                if (id == "map_destination") {
                                    // 해당 주소에 대한 좌표를 받아서
                                    coords['map_destination'] = new daum.maps.LatLng(result.y, result.x);

                                    //map.setCenter(coords['map_destination']);

                                    var detina_lat = coords['map_destination'].getLat();
                                    detina_lat = Math.round(detina_lat * 1000000) / 1000000
                                    document.getElementById("destination_lat").value = detina_lat

                                    //document.getElementById("destination_lat").value = coords['map_destination'].getLat();

                                    var detina_lng = coords['map_destination'].getLng();
                                    detina_lng = Math.round(detina_lng * 1000000) / 1000000
                                    // var detina_lng_list = String(detina_lng).split('.')
                                    // if (detina_lng_list[1].length == 5) {
                                    //    detina_lng = String(detina_lng + '0'

                                    //  console.log(typeof (detina_lng))
                                    //console.log(detina_lng)
                                    // detina_lng = parseFloat(detina_lng)
                                    // console.log(detina_lng)
                                    //}
                                    document.getElementById("destination_long").value = detina_lng
                                    //document.getElementById("destination_long").value = coords['map_destination'].getLng();

                                }
                                console.log(coords)




                                //출발 및 도착 부분 값 다시 표시하기
                                for (var i in coords) {
                                    if (i == 'map_deparature') {
                                        console.log("시작")

                                        marker = new kakao.maps.Marker({
                                            map: map, // 마커를 표시할 지도
                                            position: coords[i] // 마커를 표시할 위치
                                        });
                                        infowindow = new kakao.maps.InfoWindow({
                                            position: coords[i],
                                            content: "<div>시작점</div>"
                                        });
                                        console.log("시닥!!" + coords[i])
                                        infowindow.open(map, marker);
                                        map.setCenter(coords['map_deparature']);

                                    }
                                    else if (i == 'map_destination') {
                                        console.log("도착")

                                        marker = new kakao.maps.Marker({
                                            map: map, // 마커를 표시할 지도
                                            position: coords[i] // 마커를 표시할 위치

                                        });
                                        infowindow = new kakao.maps.InfoWindow({
                                            position: coords[i],
                                            content: "<div>도착점</div>"
                                        });
                                        console.log("도착!!" + coords[i])
                                        infowindow.open(map, marker);
                                        map.setCenter(coords['map_destination']);
                                    }
                                }
                                if (coords['map_deparature'] != null & coords['map_destination'] != null) {
                                    polyline = new kakao.maps.Polyline({
                                        map: map,
                                        path: [coords['map_deparature'], coords['map_destination']],
                                        strokeWeight: 3, // 선의 두께입니다 
                                        strokeColor: '#db4040', // 선의 색깔입니다
                                        strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                                        strokeStyle: 'solid' // 선의 스타일입니다
                                    });
                                    var distance = Math.round(polyline.getLength()),
                                        content = '<div>' + distance + 'm' + '</div>'

                                    //거리정보
                                    var dis = document.getElementById("distance");
                                    dis.value = distance;

                                }

                            }
                        });
                        window.close();
                    }
                }).open();
            }

            function price_function() {
                console.log("hi")
                weight = document.getElementById("weight").value;
                distance = document.getElementById("distance").value;


                console.log(weight)
                if (distance != "" & weight != "") {
                    var sum = weight * distance;
                    document.getElementById("price_sum").value = sum;

                }


            }
        </script>



        {% endblock content %}
</body>

</html>